<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3 p-3 border-end">
      <div class="text-center">
        <img src="<%= current_client_user&.image %>" alt="Profile Picture" class="rounded-circle border border-light" width="80" height="80">
      </div>
      <p>Username: <%= current_client_user.username %></p>
      <p>Email: <%= current_client_user.email %></p>
      <p>Coins: <%= current_client_user.coins %></p>
      <button class="btn btn-primary w-100 my-3">Cash In Now</button>

      <div class="nav flex-column">
        <a href="#" class="nav-link">Contact Us</a>
        <%= link_to 'My Profile', edit_client_user_registration_path, class: "nav-link" %>
        <%= button_to 'Sign Out', destroy_client_user_session_path, method: :delete, class: 'nav-link' %>
      </div>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <!-- Placeholder for main content -->
    </div>
  </div>
</div>

<%= render "partial/footer" %>