<%= render "partial/header" %>

<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="row w-100" style="max-width: 700px;">
    <!-- Profile Card -->
    <div class="col bg-white shadow-sm p-4" style="border-radius: 0 10px 10px 0;">
      <div class="text-center">
        <!-- Profile Image -->
        <div class="mb-3 position-relative d-inline-block">
          <img src="<%= current_client_user&.image %>" alt="Profile Picture" class="rounded-circle border border-light" width="100" height="100">
        </div>

        <!-- User Info -->
        <% if current_client_user.username.blank? %>
          <h5 class="mt-2"><%= t('welcome') %> Newbie</h5>
        <% else %>
          <h5 class="mt-2"><%= t('welcome') %> <%= current_client_user.username %></h5>
        <% end %>
        <p class="text-muted mb-1">Email: <%= current_client_user.email %></p>
        <p class="text-muted mb-3"><%= t('coins') %>: <%= current_client_user.coins %></p>

        <!-- Save Button -->
        <%= link_to t('cash in'), shop_index_path, class: "btn btn-primary w-100 mb-3",
                    style: 'background: linear-gradient(to right, #ff9a9e, #fad0c4); border: none;'  %>

        <!-- Navigation Links -->
        <div class="nav flex-column">
          <a href="#" class="btn btn-outline-secondary d-block mb-2"><%= t('contact us') %></a>
          <%= link_to t('edit profile'), edit_client_user_registration_path, class: "btn btn-outline-secondary d-block mb-2" %>
          <%= button_to t('sign out'), destroy_client_user_session_path, method: :delete, class: 'btn btn-outline-danger d-block mb-2' %>
        </div>
      </div>

      <%= render 'partial/buttons_for_client_profile/profile_client_buttons' %>

      <!-- History Table -->
      <h6 class="text-center mb-3"> <%= t('winning history') %></h6>
      <div style=" max-height: 400px; overflow-y: auto; border: 1px solid #ddd; border-radius: 5px; padding: 15px;">
        <% @winning_tickets.each do |winning_ticket| %>
          <div class="border rounded p-3 mb-3">
            <div class="border-bottom pb-3 mb-3">
              <p class="mb-1"><strong>Serial Number:</strong> <%= winning_ticket.ticket&.serial_number %></p>
              <p class="mb-1"><strong>Item:</strong> <%= winning_ticket.item&.name %></p>
              <p class="mb-1"><strong>Date:</strong> <%= winning_ticket&.created_at %></p>
              <p class="mb-1"><strong>State:</strong> <span class="text-success"><%= winning_ticket.state %></span></p>
              <% if winning_ticket.won? %>
                <%= link_to "Claim Prize", winner_path(winning_ticket), method: :get, class: "btn btn-primary" %>
              <% elsif winning_ticket.delivered? %>
                <%= link_to "Share", winner_share_path(winning_ticket), method: :get, class: "btn btn-success" %>
              <% end %>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


<%= render "partial/footer" %>