<%= render "partial/header" %>

<h2 class="text-center my-4">Edit client User</h2>
<%= alert %>

<div class="container">
  <%= form_for(resource, as: resource_name, url: client_user_registration_path(resource_name), html: { method: :put, class: "mx-auto p-4 border rounded shadow-sm", style: "max-width: 500px;" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :image, class: "form-label" %>
      <%= f.file_field :image, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="mb-3">
      <%= f.label :username, class: "form-label" %>
      <%= f.text_field :username, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="alert alert-warning mb-3">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <i class="text-muted">(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <small class="form-text text-muted"><%= @minimum_password_length %> characters minimum</small>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
    </div>

    <div class="mb-3">
      <%= f.label :current_password, class: "form-label" %>
      <i class="text-muted">(we need your current password to confirm your changes)</i>
      <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
    </div>

    <div class="text-center mt-4">
      <%= f.submit "Update", class: "btn btn-primary w-100" %>
    </div>

    <div class="text-center mt-4">
      <%= link_to "Cash In", class: "btn btn-primary w-100" %>
    </div>

    <div class="text-center mt-4">
      <%= link_to "Address", addresses_path, class: "btn btn-primary w-100" %>
    </div>
  <% end %>


  <div class="text-center mt-3">
    <%= link_to "Back", client_root_path, class: "btn btn-link" %>
  </div>

  <%= render "partial/footer" %>
</div>
