<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h4>Balance Operate</h4>
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs" id="balanceTabs" role="tablist">
        <li class="nav-item">
          <%= link_to "Increase", new_increase_users_client_orders_path(@client_user), class: "nav-link", id: "increase-tab",
                      role: "tab", aria: { controls: "increase", selected: "false" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Deduct", new_deduct_users_client_orders_path(@client_user), class: "nav-link", id: "deduct-tab",
                      role: "tab", aria: { controls: "deduct", selected: "false" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Bonus", new_bonus_users_client_orders_path(@client_user), class: "nav-link active", id: "bonus-tab",
                      data: { bs_toggle: "tab" }, role: "tab", aria: { controls: "bonus", selected: "true" } %>
        </li>
      </ul>

      <div class="tab-content mt-3" id="balanceTabContent">
        <!-- Bonus Tab -->
        <div class="tab-pane fade show active" id="bonus" role="tabpanel" aria-labelledby="bonus-tab">
          <%= form_with url: users_client_orders_path, method: :post, local: true do |form| %>
            <div class="mb-3">
              <%= form.label :coin, 'Coins', class: 'form-label' %>
              <%= form.number_field :coin, class: 'form-control', placeholder: 'Enter coins', required: true %>
            </div>
            <div class="mb-3">
              <%= form.label :genre, 'Genre', class: 'form-label' %>
              <%= form.text_field :genre, class: 'form-control', placeholder: 'Enter genre' %>
            </div>
            <div class="mb-3">
              <%= form.label :remarks, 'Remarks', class: 'form-label' %>
              <%= form.text_area :remarks, class: 'form-control', rows: 2, placeholder: 'Enter remarks' %>
            </div>
            <%= form.submit 'Submit', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>

      <!-- Readonly Form -->
      <div class="mt-4">
        <h5>Readonly User Information</h5>
        <div class="row">
          <div class="col-md-4">
            <label class="form-label">Username</label>
            <input type="text" class="form-control" value="<%= @client_user.username %>" readonly />
          </div>
          <div class="col-md-4">
            <label class="form-label">Promoter's Name</label>
            <input type="text" class="form-control" value="<%= @client_user.parent&.username %>" readonly />
          </div>
          <div class="col-md-4">
            <label class="form-label">Coins</label>
            <input type="number" class="form-control" value="<%= @client_user.coins %>" readonly />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
