<%= notice %>
<%= alert %>
<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Sidebar -->
    <%= render "partial/admin/aside" %>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column">
      <!-- Top Navbar -->
      <%= render "partial/admin/top_navbar" %>

      <!-- Content Area -->
      <div class="content bg-white shadow p-4 rounded flex-grow-1 overflow-auto">
        <header class="bg-light text-dark py-4 shadow-sm">
          <div class="container text-center">
            <h3><%= @news_ticker.new_record? ? 'New News Ticker' : 'Edit News Ticker' %></h3>
          </div>
        </header>
        <div class="d-flex flex-column vh-100">
          <div class="flex-grow-1 overflow-auto">
            <%= form_with model: @news_ticker, url: @news_ticker.new_record? ? news_tickers_path : news_ticker_path(@news_ticker),
                          local: true, html: { class: "needs-validation", novalidate: true } do |f| %>

              <div class="mb-3">
                <%= f.label :content, class: "form-label" %>
                <%= f.text_field :content, class: "form-control", placeholder: "Enter a Content", required: true %>
              </div>

              <div class="mb-3">
                <%= f.label :status, class: "form-label" %>
                <%= f.select :status, NewsTicker.statuses.keys.map { |status| [status.capitalize, status] },
                             { include_blank: "Select Status" },
                             { class: "form-select", required: true } %>
              </div>

              <div class="mb-3">
                <%= f.label :sort, class: "form-label" %>
                <%= f.number_field :sort, class: "form-control", placeholder: "Enter amount", step: 0.01, required: true %>
              </div>

              <div class="d-grid">
                <%= f.submit 'Save', class: "btn btn-primary" %>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </main>
  </div>
</div>
