<!-- Sidebar -->
<nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar border-end p-0 h-100 overflow-auto">
  <div class="position-sticky pt-3 text-white">
    <div class="text-center mb-4">
      <h5 class="mt-2">Admin</h5>
    </div>
    <h5 class="px-3 py-2 border-bottom">Dashboard</h5>
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to 'Homepage', home_index_path, class: 'nav-link active fw-bold bi bi-house-door'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Winner Management', winners_path, class: 'nav-link bi bi-people'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Item Management', item_index_path, class: 'nav-link bi bi-folder'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Category Management', category_index_path, class: 'nav-link bi bi-folder'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Ticket Management', tickets_path, class: 'nav-link bi bi-folder'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Offer Management', offers_path, class: 'nav-link bi bi-folder'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'Order Management', orders_path, class: 'nav-link bi bi-folder'  %>
      </li>
    </ul>
  </div>
</nav>