<!-- Footer Navigation -->
<div class="d-flex justify-content-around py-3 border-top mt-4">
  <%= link_to 'Share', shares_path, class: 'btn btn-light' %>
  <% if client_user_signed_in? %>
    <%= link_to 'Invite', new_home_path, class: 'btn btn-light' %>
  <% end %>
  <%= link_to 'Lottery', lottery_index_path, class: 'btn btn-light' %>
  <%= link_to 'Shop', shop_index_path, class: 'btn btn-light' %>
  <%= link_to 'Me', edit_admin_user_registration_path, class: 'btn btn-light' %>
</div>
