<!-- Footer Navigation -->
<div class="d-flex justify-content-around py-3 border-top mt-4">
  <%= link_to t('shared'), shares_path, class: 'btn btn-light' %>
  <% if client_user_signed_in? %>
    <%= link_to t('invite'), new_home_path, class: 'btn btn-light' %>
  <% end %>
  <%= link_to t('lottery'), lottery_index_path, class: 'btn btn-light' %>
  <%= link_to t('shop'), shop_index_path, class: 'btn btn-light' %>
  <%= link_to t('me'), edit_admin_user_registration_path, class: 'btn btn-light' %>
</div>
