<div class="container-fluid px-3">
  <!-- Header Section -->
  <div class="d-flex justify-content-between align-items-center py-3">
    <div class="d-flex align-items-center">
      <%= link_to client_root_path, class: 'btn btn-light shadow-sm p-0 border-0 d-flex align-items-center hover-gray' do %>
        <%= image_tag 'robo_logo.jpg', alt: 'Logo', class: 'img-fluid rounded-circle', style: 'height: 60px; width: 60px; object-fit: cover; margin-right: 10px;' %>
        <span class="fw-bold text-dark">GizmoGold</span>
      <% end %>
    </div>
    <div>
      <% if client_user_signed_in? %>
        <button class="btn btn-outline-secondary me-2">Coins</button>
        <%= link_to 'Claim', client_winning_history_path, class: "btn btn-outline-secondary me-2" %>
      <% end %>
      <button class="btn btn-outline-secondary me-2">Language</button>
      <% if client_user_signed_in? %>
        <%= link_to 'Menu', client_profile_path, class: "btn btn-outline-secondary me-2" %>
      <% else %>
        <%= link_to 'Log in', new_client_user_session_path, class: "btn btn-success me-2" %>
        <%= link_to 'Sign Up', new_client_user_registration_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
