


<div class="container d-flex flex-column justify-content-between" style="min-height: 20vh;">
  <!-- Header Section -->
  <%= render "partial/header" %>
  <%= alert %>

  <!-- Main Form Section -->
  <div class="card shadow-lg border-0" style="width: 100%; max-width: 800px; flex-grow: 1; overflow-y: auto;">
    <div class="card-body p-2">

      <%= form_with model: @address, data: { controller: :location, turbo: false } do |form| %>

        <div class="row mb-1">
          <div class="col-12 col-md-6">
            <%= form.label :name, "Full Name", class: "form-label fw-bold text-muted" %>
            <%= form.text_field :name, class: "form-control form-control-sm", placeholder: "Enter your full name" %>
          </div>

          <div class="col-12 col-md-6">
            <%= form.label :street_address, "Street Address", class: "form-label fw-bold text-muted" %>
            <%= form.text_field :street_address, class: "form-control form-control-sm", placeholder: "Enter your street address" %>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-12 col-md-6">
            <%= form.label :phone_number, "Phone Number", class: "form-label fw-bold text-muted" %>
            <%= form.text_field :phone_number, class: "form-control form-control-sm", placeholder: "Enter phone number" %>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-check">
              <%= form.check_box :is_default, { class: "form-check-input" }, true, false %>
              <%= form.label :is_default, "Set as Default", class: "form-check-label text-muted fw-bold" %>
            </div>
          </div>
        </div>

        <div class="row mb-1">
          <div class="col-12 col-md-6">
            <%= form.label :address_region_id, "Region", class: "form-label fw-bold text-muted" %>
            <%= form.collection_select :address_region_id, Address::Region.all, :id, :name,
                                       { prompt: 'Select Region' }, class: "form-select form-select-sm" %>
          </div>
        </div>

        <div class="text-center mt-2">
          <%= form.submit "Save Changes", class: "btn btn-primary btn-sm w-100" %>
        </div>

      <% end %>

    </div>
  </div>

  <%= render "partial/footer" %>
</div>



