<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<%= render "partial/header" %>
<div class="d-flex flex-column vh-100">
  <!-- Add button at the top -->
  <div class="d-flex justify-content-end p-3 bg-light">
    <%= link_to t('add'), new_address_path, class: 'btn btn-success' %>
  </div>

  <!-- Bootstrap table with full-screen height -->
  <div class="flex-grow-1 overflow-auto">
    <table class="table table-hover table-bordered mb-0">
      <thead class="table-dark">
      <tr>
        <th><%= t('street address') %></th>
        <th><%= t('phone number') %></th>
        <th><%= t('remark') %></th>
        <th><%= t('region') %></th>
        <th><%= t('province') %></th>
        <th><%= t('city') %></th>
        <th><%= t('barangay') %></th>
        <th><%= t('default') %></th>
        <th><%= t('actions') %></th>
      </tr>
      </thead>
      <tbody>
      <% @addresses.each do |info| %>
        <tr>
          <td><%= info.street_address %></td>
          <td><%= info.phone_number %></td>
          <td><%= info.remark %></td>
          <td><%= info.address_region.name %></td>
          <td><%= info.address_province.name %></td>
          <td><%= info.address_city.name %></td>
          <td><%= info.address_barangay.name %></td>
          <% if info.is_default? %>
            <td>Default Address</td>
          <% else %>
            <td>Not Default Address</td>
          <% end %>
          <td>
            <%= link_to t('edit'), edit_address_path(info), class: 'btn btn-warning btn-sm me-2' %>
            <%= button_to t('delete'), address_path(info), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render "partial/footer" %>