<%= render "partial/header" %>

<%= form_with model: @order, url: orders_path, local: true, class: "needs-validation" do |f| %>
  <div class="mb-3">
    <%= f.label :amount, "Amount", class: "form-label" %>
    <%= f.number_field :amount, class: "form-control", placeholder: "Enter Amount", required: true %>
  </div>

  <div class="mb-3">
    <%= f.label :remarks, "Remarks", class: "form-label" %>
    <%= f.text_field :remarks, class: "form-control", placeholder: "Enter Amount", required: true %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary w-100" %>
<% end %>

<%= render "partial/footer" %>