<%= alert %>
<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Sidebar -->
    <%= render "partial/admin/sidebar" %>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column">
      <!-- Top Navbar -->
      <%= render "partial/admin/top_navbar" %>

      <!-- Content Area -->
      <div class="content bg-white shadow p-4 rounded flex-grow-1 overflow-auto">
        <p class="text-muted">Here’s your dashboard overview for items. Navigate using the sidebar to manage your tasks.</p>
        <%= link_to 'Add', new_category_path, class: 'btn btn-success' %>
        <div class="d-flex flex-column vh-100">
          <div class="flex-grow-1 overflow-auto">
            <table class="table table-hover table-bordered mb-0">
              <thead class="table-dark">
              <tr>
                <th>Category Id.</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category.id %></td>
                  <td><%= category.name %></td>
                  <td>
                    <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-warning' %>
                    <%= button_to 'Delete', category_path(category), method: :delete, class: 'btn btn-danger' %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>

<style>
    .content {
        background: #f8f9fa;
    }

    h2 {
        color: #343a40;
    }

    .navbar {
        border-bottom: 1px solid #eaeaea;
    }

    .navbar-nav .btn {
        transition: background-color 0.3s;
    }

    .navbar-nav .btn:hover {
        background-color: #dc3545;
        color: white;
    }
</style>