<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-center">Add Category</h5>
        </div>
        <div class="card-body">
          <%= form_with model: @category, url: category_index_path, local: true do |f| %>

            <% if @category.errors.any? %>
              <div class="alert alert-danger">
                <h2><%= pluralize(@category.errors.count, "error") %> prohibited this item from being saved:</h2>
                <ul>
                  <% @category.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :category_name %>
              <%= f.text_field :name, class: "form-control", required: true %>
            </div>

            <div class="form-group text-center">
              <%= f.submit "Save Category", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
