<div class="container-fluid vh-100">
  <div class="row h-100">
    <!-- Sidebar -->
    <%= render "partial/admin/aside" %>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 d-flex flex-column">
      <!-- Top Navbar -->
      <%= render "partial/admin/top_navbar" %>

      <!-- Content Area -->
      <div class="content bg-white shadow p-4 rounded flex-grow-1 overflow-auto">
        <h2 class="mb-3">Welcome back, <%= current_admin_user&.username %></h2>
        <p class="text-muted">Here’s your dashboard overview. Navigate using the sidebar to manage your tasks.</p>

        <div class="d-flex flex-column vh-100">

          <div class="flex-grow-1 overflow-auto">
            <table class="table table-hover table-bordered mb-0">
              <thead class="table-dark">
              <tr>
                <th>Parent Email</th>
                <th>Username</th>
                <th>Total Deposit</th>
                <th>Member Total Deposits</th>
                <th>Coins</th>
                <th>Children Members</th>
                <th>Phone Number</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% @clients.each do |client| %>
                <tr>
                  <% if client.parent.nil? %>
                    <td>None</td>
                  <% else %>
                    <td><%= client.parent&.email %></td>
                  <% end %>

                  <% if client.username.nil? || client.username.blank? %>
                    <td>No username</td>
                  <% else %>
                    <td><%= client.username %></td>
                  <% end %>

                  <td><%= client.total_deposit %></td>
                  <td><%= client.children.sum(:total_deposit) %></td>
                  <td><%= client.coins %></td>
                  <td><%= client.children_members %></td>

                  <% if client.phone_number.nil? %>
                    <td>No Phone Number</td>
                  <% else %>
                    <td><%= client.phone_number %></td>
                  <% end %>

                  <td><%= link_to 'Balance Operate', new_increase_users_client_orders_path(client),
                                  class: 'btn btn-success' %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
